:root {
    --default-bg: white;
    --default-text: black;
    --invert-textColor: white;
    --accent-color: rgb(59, 216, 184);

    scroll-behavior: smooth;
}
::selection {
    background: var(--accent-color);
    color: var(--default-bg);
}
  
::-moz-selection {
    background: var(--accent-color); 
    color: var(--default-bg);
}

@media screen {
/* Customized scrollbar */
    ::-webkit-scrollbar {
        width: 1em;
    }

    ::-webkit-scrollbar-track {
        background-color: hsl(180 100% 97% / 1);
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(123, 138, 135);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: hsl(168 67% 54% / 1);
    }
}

@supports (scrollbar-color:  rgb(123, 138, 135) hsl(180 100% 97% / 1)) {
    * {
        scrollbar-color:  rgb(123, 138, 135) hsl(180 100% 97% / 1);
        scrollbar-width: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* flex-direction: row; */
    font-family: 'Montserrat', sans-serif;
    background: var(--default-bg);
    color: var(--default-text);
    text-align: center;
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
}

main {
    height: 100%;
    width: 100%;
    background: #070e1a;
    color: var(--invert-textColor);
}

section {
    min-height: 100vh;
}

a:hover {
    color: var(--accent-color)
}

/* Nav bar */
header {
    overflow: hidden;
    position: fixed;
    display: flex;
    background-color: rgb(85, 85, 92); /* Grey is temp color, in future use JS to change nav bar color */
    top: 0;
    width: 100%;
    z-index: 1000;
}

header > nav {
    width: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

header > nav li {
    display: inline-block;
    padding: 1em 0.5em;
}

header > nav a {
    font-style: normal;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    letter-spacing: 1px;
}

header > nav a:hover {
    color: var(--accent-color);
    background-color: azure;
}

/* Main page */
#main-page {
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
}

#profilePicture1 {
    height: auto;
    width: 265px;
    margin-top: 200px;
    border: var(--invert-textColor) .6em solid;
    border-radius: 50%;
    position: relative;
}

main h1 {
    font-size: 6em;
    margin-top: 30px;
    margin-bottom: 10px;
}

#typeWriterContainer {
    display: inline-block;
}

main h2 {
    font-size: 1.75em;
    margin-bottom: 60px;
    border-right: 5px solid;
    border-right-color: var(--accent-color);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(32),
        cursor .4s step-end infinite alternate;
}

@media only all and (max-width: 650px) {
    main h1 {
        font-size: 4.5em;
    }
    main h2 {
        font-size: 1.15em;
    }
    #enterPortfolioButton {
        font-size: 1em;
        margin-bottom: 25%;
    }

    header > nav {
        font-size: .75em;
    }
 }

/* cursor blinking animation */
@keyframes cursor {
    50% {border-color: transparent}
}

/* typing animation */
@keyframes typing {
    from {width: 0}
}

/* About section */
.grid-container {
    display: grid;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    gap: 1.2rem;
    justify-content: center;
}

@media (min-width: 60em) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .about-grid-image {
        grid-column: 1 / 2;
        transform: translate(0px, 10px);
    }
    
    .about-grid-image, .about-grid-text {
        grid-row: 1 / 2;
    }
    
    .about-grid-buttons {
        grid-column: 1 / 4;
    }

    .about-grid-text {
        grid-column: 2 / 4;
        /* transform: translate(-30px, 50px); */
        text-align: left;
    }

    .project-grid {
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

}

.about-grid-text {
    text-align: left;
}

.about-grid-h2 {
    font-size: 2em;
}

.about-interest-text {
    margin-top: 50px;
    font-size: 1.25em;
}

.about-grid-buttons h3 {
    font-size: 2em;
}

.about-grid-links {
    display: flex;
    justify-content: center;
}

.about-grid-links > li {
    display: flex;
    display: inline-block;
    padding: 10px;
}

#linkedIn-favicon, #github-favicon {
    width: 40px;
}

#profilePicture2 {
    border-radius: .5em;
    width: 300px;
    border: var(--invert-textColor) .4em solid;
}

/*project popup*/
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0);
    background:#fff;
    width: 85vw;
    height: 85vh;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color:var(--default-text);
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, 50%) scale(1);
}

.project-btns {
    width: 25%;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--default-bg);
    border: var(--default-text) .125rem solid;
    border-radius: .125rem;
}

.project-btns:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/*projects sections*/
#projects > h2 {
    padding-top: 5%;
    padding-bottom: 10px;
    font-size: 2em;
}

#projects > p {
    font-size: 1.2rem;
}

@media (min-width:1100px) {
    #contact{
        gap: 4rem;
        grid-template-columns: .7fr .3fr;
    }

    .contact-info > h4 {
        font-size: 2em;
        padding-top: 50px;
    }
}

.project-grid {
    display: grid;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    gap: 1rem;
    /* gap: 2rem;
    grid-template-columns: repeat(3, 1fr); */
}

.project-card {
    border: var(--default-text) .125em solid;
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(59, 216, 184,0.6);
}
  
.project-image {
    width: 275px;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px 16px;
}

.project-card-content > a {
    color:rgb(49, 163, 140);
}

.project-card-content > a:hover {
    color:var(--accent-color);
}

@media only all and (max-width: 1080px) {
    .project-image {
        width: 180px;
    }
 }

@media only all and (max-width: 950px) {
    .project-image {
        width: 150px;
    }
 }

/*contact section*/
#contact {
    display: grid;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
}

.form-container > h2 {
    font-size: 2em;
}

#form-message {
    font-size: 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.form-input-field {
    width: 100%;
    border-style: none none solid;
    overflow: visible;
    padding: 18px 15px;
    border-style: none none solid;
    border-width: 0 0 1px;
    border-radius: .5em;
    border-color: #000 #000 rgba(131,145,255,.4);
    background-color: rgba(115, 116, 116, 0.27);
    color: var(--default-text);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.form-textarea-field {
    width: 100%;
    overflow: visible;
    padding: 18px 10px;
    height: 200px;
    border-style: none none solid;
    border-width: 0 0 1px;
    border-radius: .5em;
    border-color: #000 #000 rgba(131,145,255,.4);
    background-color: rgba(115, 116, 116, 0.27);
    color: var(--default-text);
    font-size: 18px;
    font-weight: 400;
}

.form-submit-button {
    /* background-color: #3898ec; */
    color: var(--invert-textColor);
    background-color: #2edec1;
    width: 175px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    border: none;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.contact-info > h3 {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-info > h4 {
    font-size: 2em;
    padding-top: 10px;
}

.contact-info > ul {
    justify-content: left;
}

.contact-info > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.contact-info > a {
    color:rgb(49, 163, 140);
    padding-bottom: 30px;
    font-size: 18px;
}

.contact-info > a:hover {
    color:var(--accent-color);
}

#linkedIn-favicon-2, #github-favicon-2 {
    text-align: left;
    width: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

/* Buttons */
.directing-button {
    font-size: 1.25rem;
    display: inline-block;
    cursor: pointer;
    color: var(--default-text);
    text-decoration: none;
    padding: 1em 1.75em;
    border: var(--default-text) .125em solid;
    border-radius: .25em;
}

#enterPortfolioButton {
    color: var(--invert-textColor);
    border-color: var(--invert-textColor);
}

#enterPortfolioButton:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

#about-to-project-button{
    padding: 1em 2.75em;
}

#about-to-project-button:hover{
    border-color: var(--accent-color);
}

/* Footer */
footer {
    background-color: rgba(115, 116, 116, 0.27);
}
footer ul {
    padding: 2.5%;
    display: flex;
    justify-content: center;
}

footer li{
    display: inline-block;
    text-decoration: none;
    padding-left: 20px;
}

footer a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:var(--default-text);
}

footer a:hover {
    color:var(--accent-color);
}
